html, body {
    height: 100%;
}

#menu{
    background-color: antiquewhite;
    display: flex;
    visibility: hidden;
    transition: all 2s ease;
    list-style: none;
    justify-content: space-around;
    /* width: 40vw; */
    /* height: 0%; */
    opacity: 0;
}

/* 호버에 선택자를 줄 수 있음 */
#hover:hover + #menu{
    visibility: visible;
    /* width: 100vw; */
    /* height: 30%; */
    opacity: 1;
}